body {
    /* center a div on the y axis */
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 38%, 92%);
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    min-height: 100vh;
}

.container {
    width:100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    max-width: 50%;

}

img {
    width: 100%;
    display: block;
}

.perf-name {
    color: hsl(212, 21%, 14%);
    font-family: 'Fraunces', serif;;
    font-size: 34px;
    font-weight: 700px;
}

button {
    width: 100%;
    padding: 15px;
    background-color:hsl(158, 36%, 37%);
    font-size: 18px;
    color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.text {
    max-width: 300px;
    padding: 20px
}

.slash {
    font-size: 20px;
    padding-left: 10px;
    text-decoration:line-through;
    color: hsl(212, 21%, 14%);
}

.space {
    letter-spacing: 7px;
}

.amt {
    font-size: 34px;
    font-weight: bold;
    color: hsl(158, 36%, 37%)
    /* color: rgb(3, 75, 3); */
}

.attribution {
    font-size: 11px;
    text-align: center;
    font-size: 16px;
}

.fa {
    font-size: 20px;
    padding-right: 10px;
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}

/* Phones */
@media (min-width:320px) and (max-width:480px) {
    .container {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
    img {
        object-fit: none;
    }
}

/*Small screens and laptops*/
/* @media only screen and (min-width: 769px) and (max-width: 1024px) {
    
} */

/* Desktops and large screens */
/* @media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .container {
        width: 50%;
    }
}

/* iPads - large screens */
@media only screen and (min-width: 481px) and (max-width: 1200px) {
    .container {
        max-width: 100%
    }
}

/*  Extra large screens and TV*/
/* @media only screen and (min-width: 1201px) {
    .container {
        width: 100%
    }
} 
  