body {
    /* center a div on the y axis */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(244 234 227);
    font-size: 17px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%
}

.container {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

img {
    width: 100%;
    display: block;
}

.perf-name {
    font-size: 28px;
    font-weight: bold;
}

button {
    width: 100%;
    padding: 15px;
    background-color:green;
    font-size: 18px;
    color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.text {
    max-width: 300px;
    padding: 20px
}

.slash {
    font-size: 16px;
    padding-left: 10px;
    text-decoration:line-through;
    color: black;
}

.space {
    letter-spacing: 7px;
}

.amt {
    font-size: 28px;
    font-weight: bold;
    color: green;
}

.attribution {
    font-size: 11px;
    text-align: center;
    font-size: 16px;
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}

@media only screen and (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
    }
  }

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }