body {
    background-color: rgb(244 234 227);;
    overflow-x: hidden;
    font-size: 17px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%
}

.perf-name {
    font-size: 28px;
    font-weight: bold;
}

button {
    width: 50%;
    padding: 10px;
    background-color:green;
    font-size: 18px;
    color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.text {
    padding: 20px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    font-size: 16px;
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}